{% if last_cortex_session %}
<div class="cortex-launch-wrapper">
    <a href="{% url 'frontal_lobe:lcars_view' last_cortex_session.id %}" class="btn-cortex-launch">
        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M12 2a10 10 0 1 0 10 10H12V2z"></path>
            <path d="M12 2a10 10 0 0 1 10 10"></path>
            <path d="M2.05 10.5a10 10 0 0 1 19.9 0"></path>
        </svg>
        Launch Cortex
    </a>
</div>
{% endif %}

