<div class="hydra-spawn-wrapper js-hydra-spawn-wrapper">
    <div class="hydra-spawn js-hydra-spawn {% if spawn.is_alive %}active-lane{% endif %} {% if spawn.ended_badly %}failed-lane{% endif %}"
         data-spawn-id="{{ spawn.id }}"
         data-is-active="{{ spawn.is_alive|yesno:'true,false' }}">

        <div class="spawn-header">
            <div class="spawn-title" title="{{ spawn.spellbook.name }}">{{ spawn.spellbook.name }}</div>
            <div class="spawn-status">
                <span>#{{ spawn.id|stringformat:"s"|slice:":8" }}</span>
                <span class="status-text js-spawn-status status-{{ spawn.status.name|lower }}">{{ spawn.status.name }}</span>
            </div>
            <div class="spawn-time">{{ spawn.modified|timesince }} ago</div>
        </div>

        {% include "hydra/components/hydra_spawn_control_card.html" with spawn=spawn %}

        <button class="scroll-btn left" onclick="this.nextElementSibling.scrollBy({left: -300, behavior: 'smooth'})">◄
        </button>

        <div class="spawn-track js-spawn-track">
            {% for head in spawn.heads.all %}
                {% include "hydra/components/hydra_head.html" with head=head %}
            {% endfor %}
        </div>

        <button class="scroll-btn right"
                onclick="this.previousElementSibling.scrollBy({left: 300, behavior: 'smooth'})">►
        </button>
    </div>

    <div class="nested-spawns js-nested-spawns">
        {% for child_spawn in spawn.child_spawns.all %}
            {% include "hydra/components/hydra_spawn.html" with spawn=child_spawn %}
        {% endfor %}
    </div>
</div>